
.thumbnail img{
	width:100%;
}

.thumbnail {
	padding: 0;
}

#post img{
	height: 225px;
	/* max-height: 250px; */
}

.delete-form{
	display: inline;
}

#camp-icon{
	max-width: 60px;
}

.form-title{
	text-align: center;
}

.form-container{
	width: 30%; margin: 35px auto;
}

.inline{
	display:inline;
}

#search-form{
	margin-right:15px;
}

@media screen and (max-width:992px){
	#info-column-name{
		display:none
	}
}
